h2{
    font-weight:bold;
    font-size:28px;
}

.headingmain{
    font-weight:bold;
}

header{
    background-color:aqua;
}

#3p{
    color:aqua;
}

.contactinfo{
    font-size:18px;
    font-weight:bold;
}

h3{
    font-size:18px;
}